@using QuanLyLinhKienMayTinh.Entities;
@using QuanLyLinhKienMayTinh.Web.Models;
@{
    decimal total = 0;
}
<div class="container">
    <header id="header" data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 147, 'stickySetTop': '-147px', 'stickyChangeLogo': false}">
        <div class="header-body">
            <div class="header-top">
                <div class="container">
                    <div class="top-menu-area">
                        <a href="#">Links <i class="fa fa-caret-down"></i></a>
                        <ul class="top-menu">
                            @if (Session["TaiKhoan"] != null)
                            {
                                ThanhVien tv = (ThanhVien)Session["TaiKhoan"];
                                <li>
                                    Xin chào <strong>@tv.HoTen</strong>
                                </li>
                                <li>
                                    @Html.ActionLink("Đăng Xuất", "DangXuat", "Home")
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink("Đăng Ký", "DangKy", "TrangChu")
                                </li>
                                <li>
                                    @Html.ActionLink("Đăng Nhập", "DangNhap", "TrangChu")
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-logo">
                            <a href="/">
                                <img alt="Porto" width="111" height="51" src="~/Assets/img//demos/shop/logo-shop-white.png">
                            </a>
                        </div>
                    </div>
                    <div class="header-column">
                        <div class="row">
                            <div class="cart-area">
                                <div class="custom-block">
                                    <i class="fa fa-phone"></i>
                                    <span>(+84) 123 4567</span>
                                    <span class="split"></span>
                                    <a href="#">LIÊN HỆ</a>
                                </div>

                                <div class="cart-dropdown">
                                    <a href="#" class="cart-dropdown-icon">
                                        <i class="minicart-icon"></i>
                                        <span class="cart-info">
                                            @if (Session["GioHang"] != null && ((List<VatPhamTrongGioHang>)Session["GioHang"]).Count() > 0)
                                            {
                                                var count = ((List<VatPhamTrongGioHang>)Session["GioHang"]).Count();
                                                <span class="cart-qty">@count</span>
                                            }
                                            else
                                            {
                                                <span class="cart-qty">0</span>
                                            }
                                            <span class="cart-text">item(s)</span>
                                        </span>
                                    </a>
                                    @if (Session["GioHang"] != null)
                                    {
                                        {
                                            List<VatPhamTrongGioHang> listGioHang = Session["GioHang"] as List<VatPhamTrongGioHang>;
                                        }
                                        <div class="cart-dropdownmenu right">
                                            <div class="dropdownmenu-wrapper">
                                                <div class="cart-products">
                                                    @foreach (var item in Session["GioHang"] as List<VatPhamTrongGioHang>)
                                                    {
                                                        total += item.SoLuong * item.DonGia;
                                                        <div class="product product-sm">
                                                            <a href="#" class="btn-remove" title="Remove Product">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                            <figure class="product-image-area">
                                                                <a href="/SanPham/XemChiTiet/@item.MaSP" title="Product Name" class="product-image">
                                                                    <img src="~/Assets/images/SanPham/@item.HinhAnh" alt="@item.TenSP">
                                                                </a>
                                                            </figure>
                                                            <div class="product-details-area">
                                                                <h2 class="product-name"><a href="/SanPham/XemChiTiet/@item.MaSP" title="@item.TenSP">@item.TenSP</a></h2>

                                                                <div class="cart-qty-price">
                                                                    @item.SoLuong X
                                                                    <span class="product-price">@item.DonGia.ToString("N0") đ</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>

                                                <div class="cart-totals">
                                                    Total: <span>@total.ToString("N0") đ</span>
                                                </div>

                                                <div class="cart-actions">
                                                    <a href="/GioHang/XemGioHang" class="btn btn-primary">Giỏ Hàng</a>
                                                    <a href="/GioHang/XemGioHang" class="btn btn-primary">Thanh Toán</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="header-search">
                                <a href="#" class="search-toggle"><i class="fa fa-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required>
                                        <select id="cat" name="cat">
                                            <option value="">All Categories</option>
                                            <option value="4">Fashion</option>
                                            <option value="12">- Women</option>
                                            <option value="13">- Men</option>
                                            <option value="66">- Jewellery</option>
                                            <option value="67">- Kids Fashion</option>
                                            <option value="5">Electronics</option>
                                            <option value="21">- Smart TVs</option>
                                            <option value="22">- Cameras</option>
                                            <option value="63">- Games</option>
                                            <option value="7">Home &amp; Garden</option>
                                            <option value="11">Motors</option>
                                            <option value="31">- Cars and Trucks</option>
                                            <option value="32">- Motorcycles &amp; Powersports</option>
                                            <option value="33">- Parts &amp; Accessories</option>
                                            <option value="34">- Boats</option>
                                            <option value="57">- Auto Tools &amp; Supplies</option>
                                        </select>
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container header-nav">
                <div class="container">
                    <div class="main-dropdown-menu shown">
                        <a href="#" class="main-toggle-btn">
                            <i class="fa fa-bars"></i>Danh Mục Sản Phẩm
                        </a>

                        @Html.Action("MenuPartial", "TrangChu")
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>