@model IEnumerable<QuanLyLinhKienMayTinh.Entities.Quyen>

@{
    ViewBag.Title = "Danh Sách Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger text-center">Danh Sách Quyền</h2>

@if (TempData["Message"] != null)
{
    <div class="col-md-12" style="margin: 30px 0; padding: 0 !important;">
        <h1 class="alert alert-success">@TempData["Message"]</h1>
    </div>
}

<p>
    <a href="/Admin/Quyen/TaoMoi" class="btn btn-primary">
        <i class="fa fa-plus"></i> 
        Thêm Mới
    </a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaQuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenQuyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaQuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenQuyen)
        </td>
        <td>
            @*<a href="/Admin/Quyen/ChinhSua/@item.MaQuyen" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil"></i>    
            </a>*@
            <a href="/Admin/Quyen/Xoa/@item.MaQuyen" class="btn btn-danger btn-sm" onclick="return confirm('Bạn chắc chắn muốn xóa ?')">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
